/* Global Rules */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 0;

}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    opacity: 0.7;
}

.invisble {
    display: none;
}

/* Nav Bar */

nav {
    padding: 20px 0 30px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    padding-left: 30px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 30px;
}

li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    margin-right: 40px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    text-align: center;
    color: black;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {

    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightcoral;
}

.nav-line {
    width: 70%;
    margin: 0 auto;
}


/* Home page stracture*/
.container {
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.container input,
select {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: black;
    margin: 2px 0;
    padding: 4px;
    border-radius: 4px;
    color: white;
}

#total {
    margin-bottom: 5px;
}

.container input:focus {
    background-color: black;
    transform: scale(1.0);
    color: white;
}


.container .inputs .price input {
    width: 45%;
}

#total {
    background-color: #a00d02;
    padding: 5px 2px;
}

#total::before {
    content: 'Total: ';
}

button {
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: letter-spacing 0.5s;

}

button:hover {
    opacity: .7;
    letter-spacing: 1px;
}

#delete-all-btn {
    margin: 5px 0;
}


h4 {
    font-size: 19px;
    text-align: center;
    margin: 10px 0;
}

/* Display Products */
table {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

table th {
    text-transform: capitalize;
}

th,
td {
    text-transform: capitalize;
    padding: 5px;
}


/* Copy right Section */
.copy-right {
    padding-top: 70px;
    width: fit-content;
    margin: 0 auto;
}

.copy-right p a {
    border-bottom: 3px solid lightgreen;
}

/* For sold pro Page only*/
.sold-pro-line {
    width: 50%;
    margin: 0 auto;
}


.sold-p-nav-line {
    width: 70%;
    margin: 10px auto;

}

.search-container-sold-p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}